
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

#impacte-link svg {
  width: 68px;
  margin-bottom: -3px;
}

.impacte-color {
  fill: #636D7A;
}