:root {
    --background-primary: #0F1828;
    --background-primary-variation: #1A2C49;
    --background-secondary: #F4F4F3;
    --background-secondary-variation: #636D7A;
    --background-grey: #636D7A;
    --background-white: #fff;
    --text-primary: #0F1828;
    --text-secondary: #636D7A;
    --text-secondary-variation:#8A8A8A;
    --text-white: #fff;
    --border-grey: #dadada;

    --labels-weight: 400;
    --buttons-weight: 600;
    --small-text-weight: 400;
    --mobile-text-weight: 400;
    --desktop-text-weight: 400;
    --big-text-weight: 600;
    --small-title-weight: 400;
    --medium-title-weight: 700;
    --big-title-weight: 700;

    --labels-size: 14px;
    --buttons-size: 14px;
    --mini-text-size: 12px;
    --small-text-size: 14px;
    --mobile-text-size: 16px;
    --desktop-text-size: 18px;
    --big-text-size: 20px;
    --small-title-size: 19px;
    --medium-title-size: 24px;
    --big-title-size: 48px;
  }